# ignore everything... #
/*
/.**
!.config/

## ... except for these files/folder
!/.Xresources
!/.zshrc
!/.config/awesome/
!/.config/awesome/**
/.config/awesome/themes/
!/.config/awesome/themes/variety/
!/.config/awesome/themes/variety/**
!/.config/awesome/themes/rpg/
!/.config/awesome/themes/rpg/**
!/.config/doom/
!/.config/doom/**
!/.config/fish
!/.config/fish/**
!/.config/kitty/
!/.config/kitty/**
!/.config/ncmpcpp/
!/.config/ncmpcpp/**
/.config/ncmpcpp/lyrics
!/.config/nvim/
!/.config/nvim/**
!/.config/picom/
!/.config/picom/**
!/.config/wal/
!/.config/wal/**

# not ignore #
!/README.md
!/LICENSE
!.gitignore
!.gitkeep
!.gitmodules
#ignore filetypes
*~
*_bk*
*_gui*
*.netrwhist
*.log
*.db
