# ignore everything... #
/*
/.**
!.config/

## ... except for these files/folder
!/.Xresources
!/.zshrc
!/.config/awesome/
!/.config/awesome/**
/.config/awesome/themes/
!/.config/awesome/themes/variety/**
!/.config/doom/
!/.config/doom/**
!/.config/dunst/
!/.config/dunst/**
!/.config/i3/
!/.config/i3/**
!/.config/kitty/
!/.config/kitty/**
!/.config/ncmpcpp/
!/.config/ncmpcpp/**
/.config/ncmpcpp/lyrics
!/.config/nvim/
!/.config/nvim/**
!/.config/picom/
!/.config/picom/**
!/.config/polybar/
!/.config/polybar/**
!/.config/wal/
!/.config/wal/**

# not ignore #
!/README.md
!/LICENSE
!.gitignore
!.gitkeep

#ignore filetypes
*~
*_bk*
*_gui*
*.netrwhist
*.log
