# ignore everything... #
/*
/.**
!/.config/

# ... except for ...
# files
!/.Xresources
!/.xprofile
!/.config/xresources-colors/
!/.zshrc
!/.config/starship.toml

# directories
!/.config/awesome/
!/.config/awesome/**
/.config/awesome/rc.lua.template
/.config/awesome/*.rst
/.config/awesome/*.md
/.config/awesome/awesomewm-colors.lua

!/.doom.d/
!/.doom.d/**

!/.config/fish
!/.config/fish/**

!/.config/kitty/
!/.config/kitty/**

!/.config/mpd/
!/.config/mpd/**

!/.config/mpv/
!/.config/mpv/**

!/.config/ncmpcpp/
!/.config/ncmpcpp/**
/.config/ncmpcpp/lyrics

!/.config/nvim/
!/.config/nvim/**

!/.config/picom/
!/.config/picom/**

!/.config/qutebrowser/
!/.config/qutebrowser/**
/.config/qutebrowser/bookmarks/
/.config/qutebrowser/quickmarks

!/.config/ranger/
!/.config/ranger/**
/.config/ranger/plugins
/.config/ranger/commands_old.py
/.config/ranger/rc.conf.save

!/.config/rofi/
!/.config/rofi/**

!/.config/wal/
!/.config/wal/**

!/.config/xresources-colors/
!/.config/xresources-colors/**

# don't ignore #
!/README.md
!/LICENSE
!.gitignore
!.gitkeep
!.gitmodules

#ignore filetypes
*~
*_bk*
*_gui*
*.netrwhist
*.log
*.db
*.pyc
